// if('<%=@si%>'=='true'){


// $("#ts<%=@id%>").remove();
// if('<%=@status%>'==1){
// 	if('<%=@c%>'=='open'){
// $('#s<%=@a.id%>').remove();
// $('#seq<%=@a.id%>').append('<div id="s<%=@a.id%>"><%=@a.sequence%></div>');
// $('#s<%=Sub.find_by(status: 1).id%>').append('1');
// $("#tstatus<%=@id%>").append('<div id="ts<%=@id%>" class="linkpg"><%=link_to "Inactive", toggle_path(@id), method: :post, remote: :true%></div>');


// }
// else
// {

// $("#tstatus<%=@id%>").append('<div id="ts<%=@id%>" class="linkpg"><%=link_to "Inactive", toggle_path(@id), method: :post, remote: :true%></div>');

// }
// }
// else
// 	$("#tstatus<%=@id%>").append('<div id="ts<%=@id%>" class="linkpg"><%=link_to "Active", toggle_path(@id), method: :post, remote: :true%></div>');
// }
// else{
// console.log('thek se kar');
// if('<%=@status%>'==0){
// $("#ts<%=@id%>").remove();
// 	$("#tstatus<%=@id%>").append('<div id="ts<%=@id%>" class="linkpg"><%=link_to "Active", toggle_path(@id), method: :post, remote: :true%></div>');
// 	}
// }


